doctype html
html
  head
    title Emma on Atlantic
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab')
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
