doctype html
html
  head
    title Emma on Atlantic
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab')
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-116732316-2')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-116732316-2');
