extends layout

block content
  section.header
    .container.grid-sm
      center
        img.img-responsive(src="/images/Emma-Logo.svg")
        br
        h5 The first children’s book co-written by AI.

  section.download
    .container.grid-sm
      center
        h2 Thanks!
        p
          a.btn(href="https://drive.google.com/open?id=1Owi2xJWEQ158nahDI0KVjpS2jyR5c1pF") Click here to download the e-book.

  footer
    .container.grid-md
      center
        p &copy; 2018&nbsp;
          a(href="http://citizen.capital") Citizen Capital